body{
  font-family: 'Poppins', sans-serif;
}
.header {
  background: #0095a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 6px 0px;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

 
  
}

.ml-2 {
  margin-left: 15px;
}
.ml-auto {
  margin-left: auto;
}
.search-div {
  width: 332px;
}
.search-form {
  position: relative;
  width: 100%;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #0000;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form:focus-visible {
  outline: 1px solid #ced4da;
 
}
.btn-theme {
  color: #0095a0;

  padding: 10px 35px;

  /* Brand white cream */

  background: #f7f5f2;
  border-radius: 2px;
}

.icon {
  position: absolute;
  color: #fff;
  margin-left: -30px;
  margin-top: 12px;
}
::placeholder {
  color: white;
  opacity: 1;
}

table {border-spacing: 0; }
.myChartDiv canvas {
  max-width: 100% !important;

  max-height: 100% !important;
}
.myChart-section {
  padding-top: 30px;
  padding-bottom: 80px;
}
.td-margin{
  margin-bottom:  40px !important;
}
.td-padding{
  padding-bottom:  40px !important;
}
.myChartDiv-title {
 
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.product-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}
.productFilter {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tagsName {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.tagsName .tags {
  padding: 4px 18px;
 
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  border-radius: 2px;
}
.tagsName .tags.value-tag {
  background: rgba(221, 158, 16, 0.1);
  border: 0.5px solid #dd9e10;
  color: #dd9e10;
}
.tagsName .tags.performance-tag {
  background: rgba(17, 160, 219, 0.1);
  border: 0.5px solid #11a0db;
  color: #11a0db;
}
.tagsName .tags.camera-tag {
  background: rgba(135, 76, 114, 0.1);
  border: 0.5px solid #874c72;
  color: #874c72;
}
.ptitle h5 {
 
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #575757;
}
.ptitle span {
 
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #74777b;
}

.barChart {
 
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.active {
  background-color: #0095a0;
  color: #fff;
}
.modal {
  display: block;
}
.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  opacity: 0.5 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 1200px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}
.serach-div{
  margin: 100px auto;
  text-align: center;
}
.serach-div h2{
  color: red;
}
@media (max-width: 767px) {
  .product{
   overflow-y: auto;
  }
 .myChartDiv{
  margin-bottom: 30px;
 }
 .myChartDiv-title{
  border-bottom: 1px solid #00000024;
  padding-bottom: 10px;
 }
}
.loader {
  width: 100%;
  height: 100%;
}
.loader svg {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
